@charset "utf-8";

/*
* main
*/

.content.main {padding-top:0;}

.content.main .tit03 {margin-bottom:2rem; font-size:2.2rem; line-height:3rem;}
.content.main .tit_wrap {margin-bottom:2rem;}
.content.main .tit_wrap [class^=tit] {margin-bottom:0;}
.content.main .tit_wrap .more {margin-bottom:0.5rem;}

.main_top {padding:6.4rem 1.6rem 2.4rem; background-color:#f1f3f4;}

.main_top .link_plan {position:relative; display:block; padding:5.2rem 3.2rem 11.4rem; border-radius:1.6rem; background-color:#fff;}
.main_top .link_plan strong {display:block; font-size:3rem; font-weight:bold; line-height:4rem; color:#000;}
.main_top .link_plan strong span {position:relative; display:inline-block;}
.main_top .link_plan strong span::after {content:''; position:absolute; top:-0.6rem; right:-0.8rem; display:block; width:1.8rem; height:1.2rem; background:url(../images/content/img_main_top_plan.png) no-repeat center / 100% auto;;}
.main_top .link_plan em {position:relative; display:inline-block; padding-right:2rem; margin-top:2rem; font-size:1.5rem; line-height:2.2rem; color:#000;}
.main_top .link_plan em::after {content:''; position:absolute; top:50%; right:0; display:block; width:1.6rem; height:1.6rem; background:url(../images/common/ico_arrowR03.png) no-repeat center / 100% auto; transform:translateY(-50%);}
.main_top .link_plan i {position:absolute; bottom:0; right:2.5rem; display:block; width:14.5rem; height:9.5rem;}
.main_top .link_plan i lottie-player {width:100%; height:100%;}

.main_top .link_ranking {position:relative; display:block; padding:2.7rem 4.4rem 2.7rem 3.2rem; margin-top:1.2rem; border-radius:1.6rem; background-color:#fff; font-size:1.9rem; font-weight:bold; line-height:2.6rem; color:#000;}
.main_top .link_ranking::after {content:''; position:absolute; top:50%; right:2rem; display:block; width:2.4rem; height:2.4rem; background:url(../images/common/ico_arrowR02.png) no-repeat center / 100% auto; transform:translateY(-50%);}

.main_bnr {margin-top:0.8rem;}
.main_bnr a {display:block;}
.main_bnr img {display:block; width:100%;}
/* .swiper.main_bnr .swiper-horizontal > .swiper-pagination-bullets,
.swiper.main_bnr .swiper-pagination-bullets.swiper-pagination-horizontal {bottom:0.4rem; font-size:0; line-height:0;}
.swiper.main_bnr .swiper-pagination-bullet {width:0.4rem; height:0.4rem; border-radius:0.2rem; background:#ddd; opacity:1;}
.swiper.main_bnr .swiper-pagination-bullet-active {width:0.8rem; background:#717171;}
.swiper.main_bnr .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper.main_bnr .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0.4rem;}
.swiper.swiper-initialized.main_bnr {padding-left:1.6rem; padding-right:1.6rem; margin-left:-1.6rem; margin-right:-1.6rem;} */
.swiper-container .play_box {position:absolute; bottom:2rem; right:1.6rem; z-index:1; height:2rem; background:rgba(0,0,0,0.6); line-height:0; border-radius:2rem; padding:0 2.5rem 0 1.2rem; margin-top:1rem;}
.swiper-container .play_box .btn {width:20px; height:20px;}
.swiper-container .play_box .swiper-pagination {position:relative; bottom:auto; width:auto; display:inline-block; line-height:1; color:#cccccc; font-size:0; line-height:0;}
.swiper-container .play_box .swiper-pagination:after {display:inline-block; content:'-'; font-size:1.2rem; color:inherit; position: absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.swiper-container .play_box .swiper-pagination > span {display:inline-block; line-height:2rem; font-size:1.2rem;}
.swiper-container .play_box .swiper-pagination > span:first-of-type {padding-right:0.6rem; color:#fff;}
.swiper-container .play_box .swiper-pagination > span:last-of-type {padding-left:0.6rem;}
.swiper-container .play_box .btn {position:absolute; right:0; top:0; width:2rem; height:2rem; background:rgba(0,0,0,0.4); border:none; font-size:0; line-height:0; padding:0;}
.swiper-container .play_box .btn:before {display:inline-block; content:''; width:1.6rem; height:1.6rem; background:url(../img/icon_play_set.png) no-repeat; background-size:100% auto;}
.swiper-container .play_box .btn.btn_play_stop:before  {background-position:0 0;}
.swiper-container .play_box .btn.btn_play_start:before  {background-position:0 -1.6rem;}

.play_box {margin-top:2rem;}
.play_box .swiper-pagination-fraction{bottom:0; width:auto; font-size:1.2rem; line-height:1.8rem; color:#bbb; padding-left:calc(6% + 2.8rem);}
.play_box .swiper-pagination-current{color:#717171;}
.play_box .play_start,
.play_box .play_stop{position:absolute; bottom:0%; left:6%; width:2rem; height:2rem; z-index:11; background:no-repeat center / 100% auto;}
.play_box .play_start{background-image:url(../../resource/images/common/ico_play.png);}
.play_box .play_stop{background-image :url(../../resource/images/common/ico_stop.png);}

.main_service {display:flex;}
.main_service li {flex:1;}
.main_service li ~ li {margin-left:0.8rem;}
.main_service a {position:relative; display:block; height:100%; padding:8.7rem 1rem 1.8rem; border:0.1rem solid #ddd; border-radius:0.8rem; background-color:#fff; font-size:1.2rem; line-height:1.8rem; color:#000; text-align:center;}
.main_service a::before {content:''; position:absolute; top:1.9rem; left:50%; display:block; width:6rem; max-width:100%; height:6rem; background:no-repeat center / 100% auto; transform:translateX(-50%);}
.main_service .svc01 a::before {background-image:url(../images/content/img_main_service01.png);}
.main_service .svc02 a::before {background-image:url(../images/content/img_main_service02.png);}
.main_service .svc03 a::before {background-image:url(../images/content/img_main_service03.png);}

.main_data_select .group_btn {margin-top:2rem;}

.main_partner > ol {counter-reset:partner_rank; padding:1.2rem 3.2rem; border-radius:1.2rem; background-color:#f8f8f8; overflow:hidden;}
.main_partner > ol li {counter-increment:partner_rank; position:relative;}
.main_partner > ol li::before {content:counter(partner_rank, decimal-leading-zero); position:absolute; top:2rem; left:0; display:block; font-size:1.6rem; font-weight:700; line-height:2.3rem; color:#bbb;}
.main_partner > ol li:not(:last-child) {border-bottom:0.1rem solid #ddd;}
.main_partner > ol a {display:block; padding:2rem 0 2rem 3rem;}
.main_partner > ol .partner {display:flex; flex-wrap:wrap; align-items:center; gap:0.8rem;}
.main_partner > ol .partner strong {font-size:1.6rem; font-weight:500; line-height:2.3rem; color:#909090;}
.main_partner > ol .partner .star:before {content:""; display:inline-block; width:0.1rem; height:0.8rem; border-left:1px solid #ddd; padding-left:0.9rem;}
.main_partner > ol .partner .score {position:relative; display:inline-block; padding-left:1.4rem; font-size:1.2rem; line-height:1.8rem; color:#909090;}
.main_partner > ol .partner .score::before {content:''; position:absolute; top:0.2rem; left:0; display:inline-block; width:1.2rem; height:1.2rem; background:url(../images/common/img_star_active.png) space left / 100% auto;}
.main_partner > ol .partner img {height:1.6rem; margin-left:auto;}
.main_partner > ol p {display:none; margin-top:0.8rem; font-size:1.2rem; line-height:1.8rem; color:#000;}
.main_partner > ol li.on::before {color:#fc6969;}
.main_partner > ol .on .partner strong {font-weight:700; color:#000;}
.main_partner > ol .on p {display:block;}
.main_partner .flowSwiper {margin-top:2rem;}





/* ***** 요금제 랭킹 ***** */
.ranking_top {border-radius:1.2rem; overflow:hidden;}
.ranking_top img {display:block; width:100%;}





/* ***** 파트너사 소개 ***** */
.partner_title {margin-bottom:3.2rem; text-align:center;}
.partner_title .img {display:flex; justify-content:center; align-items:center; width:10rem; height:10rem; padding:0 1rem; margin:0 auto 2.5rem; border-radius:50%; background-color:#f8f8f8; overflow:hidden;}
.partner_title .img img {display:block; width:100%;}
.partner_title .tit {display:block; font-size:2.2rem; font-weight:700; line-height:3rem; color:#000;}
.partner_title .tex {display:block; margin-top:0.8rem; font-size:1.3rem; line-height:1.9rem; color:#717171;}
.partner_title .text_btn {padding-left:1.4rem; margin-top:1.6rem; font-size:1.2rem; line-height:1.8rem; color:#000;}
.partner_title .text_btn::before {content:''; position:absolute; top:50%; left:0; display:block; width:1.2rem; height:1.2rem; background:url(../images/common/img_star_active.png) no-repeat center / 100% auto; transform:translateY(-50%);}
.partner_title .text_btn span {color:#909090;}

.partner_info dl ~ dl {margin-top:2rem;}
.partner_info dt {margin-bottom:0.8rem; font-size:1.3rem; font-weight:700; line-height:1.9rem; color:#717171;}
.partner_info dd {font-size:1.4rem; line-height:2rem; color:#000;}










/* ********** PC ********** */
.pc .main_service a {font-size:1.4rem; line-height:2rem;}

.pc .main_partner > ol p {font-size:1.3rem; line-height:1.9rem;}

.pc .main_top .link_plan i {width:20.5rem; height:13.5rem;}